{% extends "layout.html" %}

{% block title %}
    Deck: {{ deck_name }}
{% endblock %}

{% block main %}

    <form action = "/" method = "get">
        <button type = "submit">Go back to Main Menu</button>
    </form>

    <form>
        <input type = "text" placeholder = "{{ deck.name }}" value = "{{ deck.name }}" id = "{{ deck.id }}">
    </form>

    <ul>
    {% for card in cards %}

    <li>{{ card.front }}</li>
    <li>{{ card.back }}</li>

    {% endfor %}
    </ul>

    <script>
        deck = document.getElementById("{{ deck.id }}");
        deck.addEventListener("focusout", function(event){
            update_input(event.currentTarget, "deck");})
    </script>

{% endblock %}