{% extends "layout.html" %}

{% block title %}
    Deck: {{ deck_name }}
{% endblock %}

{% block main %}

    <form action = "/" method = "get">
        <button type = "submit">Go back to Main Menu</button>
    </form>

    <form>
        <input type = "text" placeholder = "{{ deck.name }}" value = "{{ deck.name }}" id = "{{ deck.id }}">
    </form>

    <ol>
    {% for card in cards %}
    
    <li>
        <form>
            <input type = "text" placeholder = "{{ card.front }}" value = "{{ card.front }}" id = "{{ card.id }}?front">
            <input type = "text" placeholder = "{{ card.back }}" value = "{{ card.back }}" id = "{{ card.id }}?back">
        </form>
    </li>

    {% endfor %}
    </ol>

    <script>
        deck = document.getElementById("{{ deck.id }}");
        deck.addEventListener("focusout", function(event){
            update_input(event.currentTarget, "deck");})
    </script>

{% endblock %}