{% extends "layout.html" %}

{% block title %}
    Deck: {{ deck_name }}
{% endblock %}

{% block main %}

    <form action = "/" method = "get">
        <button type = "submit">Go back to Main Menu</button>
    </form>

    <form>
        <input type = "text" placeholder = "{{ deck.name }}" value = "{{ deck.name }}" id = "{{ deck.id }}">
    </form>

    <ol>
    {% for card in cards %}
    
    <li>
        <form class = "card" id = "{{ card.id }}">
            <input type = "text" placeholder = "{{ card.front }}" value = "{{ card.front }}" class = "front">
            <input type = "text" placeholder = "{{ card.back }}" value = "{{ card.back }}" class = "back">
        </form>
    </li>

    {% endfor %}
    </ol>

    <script>
        let deck = document.getElementById("{{ deck.id }}");
        deck.addEventListener("focusout", function(event){
            update_input_tag(event.currentTarget, "Deck", "name", deck.id);});

        let cards = document.getElementsByClassName("card");
        for(let card of cards){
            console.log(card);
            let front = card.querySelector(".front");
            front.addEventListener("focusout", function(event){
                update_input_tag(event.currentTarget, "Card", "front", card.id)
            });

            let back = card.querySelector(".back");
            back.addEventListener("focusout", function(event){
                update_input_tag(event.currentTarget, "Card", "back", card.id)
            });
        }
    </script>

{% endblock %}