{% extends "layout.html" %}

{% block script %}index{% endblock %}
{% block title %}Main Menu{% endblock %}

{% block main %}
    <button id="new_deck">Create new deck</button>

    {% for deck in decks %}

    <form method = "post" class = "deck" id = "{{ deck.id }}">
        <input type = "text" value = "{{ deck.name }}" placeholder = "{{ deck.name }}" disabled> 
        <button type = "button" class = "view">View</button>
        <button type = "button" class = "study">Study</button>
        <input type = "hidden" name = "deck_id">
        <input type = "hidden" name = "deck_name">
    </form>

    {% endfor %}

{% endblock %}