{% extends "layout.html" %}

{% block script %}study{% endblock %}
{% block title %}Deck: {{ deck.name }}{% endblock %}

{% block main %}

    <form action = "/" method = "get">
        <button type = "submit">Go back to Main Menu</button>
    </form>

    {% for card in cards %}
        <form class = "card hidden">
            <input type = "hidden" value = "{{ card.front }}" class = "front">
            <input type = "hidden" value = "{{ card.back }}" class = "back">
        </form>
    {% endfor %}

    <form id = "board">
        <input type = "text" class = "question" disabled>
        <input type = "hidden" class = "answer" disabled>
        <button type = "button" class = "reveal">Reveal</button>
        <button type = "button" class = "next">Next</button>
        <div id = "user_score">
            <p>How well did you do?*</p>
            <button type = "button" class = "zero">0</button>
            <button type = "button" class = "one">1</button>
            <button type = "button" class = "two">2</button>
            <button type = "button" class = "three">3</button>
            <button type = "button" class = "four">4</button>
            <button type = "button" class = "five">5</button>
            <br><br>
            <small>*0 (Failed to answer), 1 (Had great difficulty) to 5 (Answered immediately)</small>
        </div>
        </form>

{% endblock %}